name: Demo

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew webApp:wasmJsBrowserDistribution

      - uses: actions/upload-pages-artifact@v4
        with:
          path: webApp/build/dist/wasmJs/productionExecutable

      - uses: actions/deploy-pages@v4
